name: emowall
description: Emowall Pro - Premium Crypto & Staking Tracker
version: 1.0.6+106
publish_to: 'none'

environment:
  sdk: '>=3.3.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  google_fonts: ^6.2.1
  flutter_secure_storage: ^9.2.2
  local_auth: ^2.3.0
  http: ^1.2.1

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
