name: Emowall Pro Build
on:
  push:
    branches: [ main, Emowall-Ai-2.0 ]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'
    - uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.27.1'
    - name: Build Specialist APK
      run: |
        flutter pub get
        echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 --decode > android/app/emobies.keystore
        flutter build apk --release --target-platform android-arm64 --key-store-password="${{ secrets.KEYSTORE_PASSWORD }}" --key-password="${{ secrets.KEY_PASSWORD }}" --keystore=android/app/emobies.keystore --alias="${{ secrets.KEY_ALIAS }}" --dart-define=API_BASE="${{ secrets.API_BASE_URL }}"
    - name: Upload
      uses: actions/upload-artifact@v4
      with:
        name: Emowall-Pro-APK
        path: build/app/outputs/flutter-apk/app-release.apk
